In [1]:
# Dependencies
import requests
import pymongo
import pandas as pd

In [2]:
df = pd.read_fwf('urls_unsup.txt',header=None)

In [3]:
df = df.rename(columns={0: "url"})
df = df.drop_duplicates()

In [4]:
df['movie_id'] = df['url'].str.replace('/usercomments','').str.replace('http://www.imdb.com/title/','')

In [5]:
df.head()

                                                 url   movie_id
0   http://www.imdb.com/title/tt0018515/usercomments  tt0018515
11  http://www.imdb.com/title/tt0118866/usercomments  tt0118866
41  http://www.imdb.com/title/tt0436149/usercomments  tt0436149
45  http://www.imdb.com/title/tt0050652/usercomments  tt0050652
51  http://www.imdb.com/title/tt0203895/usercomments  tt0203895

In [5]:
# Online Movie Database (OMDB) API URL including API Key and full plot
api_url = "http://www.omdbapi.com/?apikey=baee4093&plot=full"

movie_data = []

# Using a for-loop...
for movie_id in df['movie_id']:
    # Use the movie_id to pull data from the API
    try:
        movie = requests.get(api_url + '&i=' + movie_id).json()
        if movie['Response'] == "True":
            movie_data.append(movie)
    except JSONDecodeError:
        print(movie_id)

In [6]:
omdb_df = pd.DataFrame(movie_data)

In [8]:
movie_only = omdb_df.copy()
movie_only = movie_only[movie_only['Type'] == 'movie']
movie_only = movie_only[movie_only['imdbRating'] != 'N/A']
movie_only['imdbRating'] = pd.to_numeric(movie_only['imdbRating'])
movie_only = movie_only.drop_duplicates(subset ="imdbID")

In [9]:
print(movie_only['Type'].value_counts())
print(movie_only['imdbID'].nunique())

movie    6047
Name: Type, dtype: int64
6047

In [ ]:
# Since titles are slightly different, merge both dataframes based on Rank
final_df = boxOffice_df.merge(split_df,left_on = 'Rank',right_on='Rank')
# Select all necessary columns
final_df = final_df[['Rank', 'Title_x', 'Studio', 'Opening', '% of Total', 'Theaters',
       'Average', 'Total Gross', 'Date', 'Plot', 'Actors',
       'Director', 'Genre', 'Poster', 'Rated', 'imdbRating', 'Metascore','Rotten Tomatoes']]
# Rename Title column for clarity
final_df = final_df.rename(columns={"Title_x": "Title"})

In [ ]:
# Create list of dictionaries in order to efficiently insert into MongoDB
movies_dict = new_df.to_dict('records')

In [ ]:
# MongoDB connection
conn = 'mongodb+srv://generaluser:generaluser123@project2-ha8my.mongodb.net/review_db?retryWrites=true&w=majority'
'mongodb+srv://general_user:charli3s_ang3ls@cluster0-tyboh.mongodb.net/test'
client = pymongo.MongoClient(conn)

# Declare the collection
collection = client.review_db.movie_detail
#Drop collection if it exists to prevent duplication
collection.drop()  
# Insert all of the documents into the collection
collection.insert_many(movies_dict)