In [1]:
# Dependencies
import requests
import pandas as pd

In [2]:
df = pd.read_fwf('urls_unsup.txt',header=None)

In [3]:
df = df.rename(columns={0: "url"})
df = df.drop_duplicates()

In [4]:
df['movie_id'] = df['url'].str.replace('/usercomments','').str.replace('http://www.imdb.com/title/','')

In [5]:
df.head()

                                                 url   movie_id
0   http://www.imdb.com/title/tt0018515/usercomments  tt0018515
11  http://www.imdb.com/title/tt0118866/usercomments  tt0118866
41  http://www.imdb.com/title/tt0436149/usercomments  tt0436149
45  http://www.imdb.com/title/tt0050652/usercomments  tt0050652
51  http://www.imdb.com/title/tt0203895/usercomments  tt0203895

In [9]:
# Online Movie Database (OMDB) API URL including API Key and full plot
api_url = "http://www.omdbapi.com/?apikey=baee4093&plot=full"

movie_data = []

# Using a for-loop...
for movie_id in df['movie_id']:
    # Use the movie_id to pull data from the API
    try:
        movie = requests.get(api_url + '&i=' + movie_id).json()
        if movie['Response'] == "True":
            movie_data.append(movie)
    except JSONDecodeError:
        print(movie_id)

In [10]:
omdb_df = pd.DataFrame(movie_data)

In [39]:
movie_only = omdb_df.copy()
movie_only = movie_only[movie_only['Type'] == 'movie']
movie_only = movie_only.drop_duplicates(subset ="imdbID") 
movie_only = movie_only[movie_only['imdbRating'] != 'N/A']

In [40]:
print(movie_only['Type'].value_counts())
print(movie_only['imdbID'].nunique())

movie    6018
Name: Type, dtype: int64
6018

In [43]:
movie_only.dtypes

Actors          object
Awards          object
BoxOffice       object
Country         object
DVD             object
Director        object
Episode         object
Genre           object
Language        object
Metascore       object
Plot            object
Poster          object
Production      object
Rated           object
Ratings         object
Released        object
Response        object
Runtime         object
Season          object
Title           object
Type            object
Website         object
Writer          object
Year            object
imdbID          object
imdbRating      object
imdbVotes       object
seriesID        object
totalSeasons    object
dtype: object