In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java

!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .getOrCreate()

update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java to provide /usr/bin/java (java) in manual mode
Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/87/21/f05c186f4ddb01d15d0ddc36ef4b7e3cedbeb6412274a41f26b55a650ee5/pyspark-2.4.4.tar.gz (215.7MB)
     |████████████████████████████████| 215.7MB 60kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 44.0MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.4-py2.py3-none-any.whl size=216130387 sha256=04fb44650b459caaf66011cfde2731b839ced822565957eecae30325eaabd927
  Stored in directory: /root/.cache/pip/wheels/ab/09/4d/0d184230058e654eb1b04467dbc1292f00eaa186544604b471
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.4

In [2]:
!pip install dnspython
!pip install pymongo[srv]

Collecting dnspython
  Downloading https://files.pythonhosted.org/packages/ec/d3/3aa0e7213ef72b8585747aa0e271a9523e713813b9a20177ebe1e939deb0/dnspython-1.16.0-py2.py3-none-any.whl (188kB)
     |████████████████████████████████| 194kB 4.7MB/s
Installing collected packages: dnspython
Successfully installed dnspython-1.16.0
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.6/dist-packages (3.9.0)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in /usr/local/lib/python3.6/dist-packages (from pymongo[srv]) (1.16.0)

In [0]:
#Load dependenices
import pandas as pd

In [0]:

import pymongo


# MongoDB connection
conn = 'mongodb+srv://general_user:charli3s_ang3ls@cluster0-tyboh.mongodb.net/movie_db?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)

# Declare the collection
collection = client.movie_db.movie_reviews.find()

In [0]:
new_df = pd.DataFrame( collection)

In [6]:
new_df['label_orig'] = pd.to_numeric(new_df['label_orig'])
new_df['_id'] = new_df['_id'].astype(str)
new_df['url'] = new_df['url'].astype(str)
new_df['reviews'] = new_df['reviews'].astype(str)
new_df['movie_id'] = new_df['movie_id'].astype(str)
new_df['Title'] = new_df['Title'].astype(str)
new_df['Year'] = pd.to_numeric(new_df['Year'])
new_df['Genre'] = new_df['Genre'].astype(str)
new_df['Actors'] = new_df['Actors'].astype(str)
new_df['Plot'] = new_df['Plot'].astype(str)
new_df['Poster'] = new_df['Poster'].astype(str)

#del new_df['label']

new_df.head()

                        _id  ...                                             Parsed
0  5dd24aeaa6edc0dcb0d75569  ...  [spoilers, spoilers, basis, movie, classic, no...
1  5dd24aeaa6edc0dcb0d75566  ...  [rare, event, rate, movie, level, 10, could, w...
2  5dd24aeaa6edc0dcb0d75568  ...  [first, half, twothirds, film, worked, well, w...
3  5dd24aeaa6edc0dcb0d75563  ...  [thing, think, reading, negative, comments, le...
4  5dd24aeaa6edc0dcb0d75562  ...  [finally, broadcast, turner, classic, movies, ...

[5 rows x 13 columns]

In [7]:
#new_df[label_orig] 
new_df[new_df['label_orig'] >= 5]

                           _id  ...                                             Parsed
0     5dd24aeaa6edc0dcb0d75569  ...  [spoilers, spoilers, basis, movie, classic, no...
1     5dd24aeaa6edc0dcb0d75566  ...  [rare, event, rate, movie, level, 10, could, w...
2     5dd24aeaa6edc0dcb0d75568  ...  [first, half, twothirds, film, worked, well, w...
3     5dd24aeaa6edc0dcb0d75563  ...  [thing, think, reading, negative, comments, le...
4     5dd24aeaa6edc0dcb0d75562  ...  [finally, broadcast, turner, classic, movies, ...
...                        ...  ...                                                ...
5964  5dd24aeaa6edc0dcb0d76cad  ...  [right, ill, admit, movie, lacked, certain, pl...
5966  5dd24aeaa6edc0dcb0d76c76  ...  [disaster, normally, one, critiques, historica...
5967  5dd24aeaa6edc0dcb0d76c82  ...  [broadly, played, directed, semiscrewball, out...
5968  5dd24aeaa6edc0dcb0d76c85  ...  [long, time, since, movie, made, hurt, way, on...
5970  5dd24aeaa6edc0dcb0d76ca8  ...  [remarkable, little, movie, never, reached, cl...

[4702 rows x 13 columns]

In [8]:
new_df.dtypes

_id             object
Actors          object
Genre           object
Plot            object
Poster          object
Title           object
Year             int64
movie_id        object
reviews         object
url             object
label_orig     float64
Review_Type     object
Parsed          object
dtype: object

In [0]:
sample_df = new_df.sample(n = 1000)

In [10]:
reviews_df = spark.createDataFrame(sample_df)
reviews_df.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----+---------+--------------------+--------------------+----------+-----------+--------------------+
|                 _id|              Actors|               Genre|                Plot|              Poster|               Title|Year| movie_id|             reviews|                 url|label_orig|Review_Type|              Parsed|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----+---------+--------------------+--------------------+----------+-----------+--------------------+
|5dd24aeaa6edc0dcb...|Robert Horton, Lu...|Drama, Horror, Sc...|A giant asteroid ...|https://m.media-a...|     The Green Slime|1968|tt0064393|If you've read th...|http://www.imdb.c...|       4.8|   negative|[youve, read, rev...|
|5dd24aeaa6edc0dcb...|Pam Grier, Yaphet...|              Action|Friday Foster, an...|https://m.media-a...|       Friday Foster|1975|tt0073019|Sexiest black wom...|http://www.imdb.c...|       6.0|   negative|[sexiest, black, ...|
|5dd24aeaa6edc0dcb...|Heather Shrake, C...|Horror, Action, T...|Eight college stu...|https://m.media-a...|            The Trip|2003|tt0293961|OK, let me start ...|http://www.imdb.c...|       2.8|   negative|[ok, let, start, ...|
|5dd24aeaa6edc0dcb...|Rich Little, Herb...|              Comedy|                 N/A|https://m.media-a...|   Another Nice Mess|1972|tt0362411|The film reflects...|http://www.imdb.c...|       6.5|   positive|[film, reflects, ...|
|5dd24aeaa6edc0dcb...|Antonio Banderas,...|    Action, Thriller|With this sequel ...|https://m.media-a...|           Desperado|1995|tt0112851|Sharp knives, big...|http://www.imdb.c...|       7.2|   positive|[sharp, knives, b...|
|5dd24aeaa6edc0dcb...|Stephen Baldwin, ...|    Sci-Fi, Thriller|On a secret milit...|https://m.media-a...|          Dark Storm|2006|tt0758740|I had to stay up ...|http://www.imdb.c...|       3.3|   negative|[stay, young, son...|
|5dd24aeaa6edc0dcb...|Barry Bostwick, J...|   Adventure, Family|Minkey, a super-s...|https://m.media-a...|             Spymate|2006|tt0367088|Mike (Chris Potte...|http://www.imdb.c...|       4.2|   negative|[mike, chris, pot...|
|5dd24aeaa6edc0dcb...|Mike Myers, Dana ...|       Comedy, Music|Wayne is still li...|https://m.media-a...|       Wayne's World|1992|tt0105793|The cultural refe...|http://www.imdb.c...|       7.0|   positive|[cultural, refere...|
|5dd24aeaa6edc0dcb...|Faye Emerson, Jul...|Crime, Drama, Fil...|Dot Burton (Faye ...|https://m.media-a...|       Lady Gangster|1942|tt0034959|I had a lot of fu...|http://www.imdb.c...|       5.8|   negative|[lot, fun, watchi...|
|5dd24aeaa6edc0dcb...|James Jay Barnes,...|               Drama|A military myster...|https://m.media-a...|            Garrison|2008|tt0985051|An important topi...|http://www.imdb.c...|       3.5|   negative|[important, topic...|
|5dd24aeaa6edc0dcb...|Tomas Milian, Gas...|Action, Crime, Th...|A cop is consumed...|https://m.media-a...|     Emergency Squad|1974|tt0072200|"Squadra Volante"...|http://www.imdb.c...|       6.1|   positive|[squadra, volante...|
|5dd24aeaa6edc0dcb...|Melanie Griffith,...|Romance, Crime, T...|In France, Sarah ...|https://m.media-a...|               Tempo|2003|tt0307553|The plot of "Temp...|http://www.imdb.c...|       4.7|   negative|[plot, tempo, sou...|
|5dd24aeaa6edc0dcb...|Josef Bierbichler...|Biography, Comedy...|                 N/A|https://m.media-a...|        The Farewell|2000|tt0206608|I enjoyed this fi...|http://www.imdb.c...|       6.5|   positive|[enjoyed, film, o...|
|5dd24aeaa6edc0dcb...|Jack Black, Ana d...|Comedy, Family, S...|Nacho (Black) is ...|https://m.media-a...|         Nacho Libre|2006|tt0457510|Much to my surpri...|http://www.imdb.c...|       5.7|   negative|[much, surprise, ...|
|5dd24aeaa6edc0dcb...|Dave Barry, Sara ...|Family, Animation...|A tour of Ciro's ...|https://m.media-a...| Hollywood Steps Out|1941|tt0033724|Were else could y...|http://www.imdb.c...|       7.1|   positive|[else, could, see...|
|5dd24aeaa6edc0dcb...|Clare Wren, Bruce...|Action, Horror, S...|Daniel Emerson is...|https://m.media-a...|      Steel and Lace|1991|tt0100688|I first saw this ...|http://www.imdb.c...|       5.0|   negative|[first, saw, movi...|
|5dd24aeaa6edc0dcb...|Mike Hertel, Jack...|        Short, Drama|A group of boys s...|https://m.media-a...| A Day with the Boys|1969|tt0216670|Clu Gulager is a ...|http://www.imdb.c...|       7.3|   positive|[clu, gulager, fa...|
|5dd24aeaa6edc0dcb...|Brad Pitt, Christ...|       Drama, Horror|It hasn't even be...|https://m.media-a...|Interview with th...|1994|tt0110148|'Interview with t...|http://www.imdb.c...|       7.6|   positive|[interview, vampi...|
|5dd24aeaa6edc0dcb...|Clay Adams, Josh ...|              Horror|Bloodline is the ...|https://m.media-a...|           Bloodline|2004|tt0488967|I rented this mov...|http://www.imdb.c...|       4.3|   negative|[rented, movie, n...|
|5dd24aeaa6edc0dcb...|Kirk Acevedo, Pen...|          Drama, War|U.S. Army Private...|https://m.media-a...|   The Thin Red Line|1998|tt0120863|The greatest faul...|http://www.imdb.c...|       7.6|   positive|[greatest, fault,...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----+---------+--------------------+--------------------+----------+-----------+--------------------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import length
# Create a length column to be used as a future feature 
data_df = reviews_df.withColumn('length', length(reviews_df['reviews']))
data_df.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----+---------+--------------------+--------------------+----------+-----------+--------------------+------+
|                 _id|              Actors|               Genre|                Plot|              Poster|               Title|Year| movie_id|             reviews|                 url|label_orig|Review_Type|              Parsed|length|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----+---------+--------------------+--------------------+----------+-----------+--------------------+------+
|5dd24aeaa6edc0dcb...|Robert Horton, Lu...|Drama, Horror, Sc...|A giant asteroid ...|https://m.media-a...|     The Green Slime|1968|tt0064393|If you've read th...|http://www.imdb.c...|       4.8|   negative|[youve, read, rev...| 35503|
|5dd24aeaa6edc0dcb...|Pam Grier, Yaphet...|              Action|Friday Foster, an...|https://m.media-a...|       Friday Foster|1975|tt0073019|Sexiest black wom...|http://www.imdb.c...|       6.0|   negative|[sexiest, black, ...| 33096|
|5dd24aeaa6edc0dcb...|Heather Shrake, C...|Horror, Action, T...|Eight college stu...|https://m.media-a...|            The Trip|2003|tt0293961|OK, let me start ...|http://www.imdb.c...|       2.8|   negative|[ok, let, start, ...| 12968|
|5dd24aeaa6edc0dcb...|Rich Little, Herb...|              Comedy|                 N/A|https://m.media-a...|   Another Nice Mess|1972|tt0362411|The film reflects...|http://www.imdb.c...|       6.5|   positive|[film, reflects, ...| 18058|
|5dd24aeaa6edc0dcb...|Antonio Banderas,...|    Action, Thriller|With this sequel ...|https://m.media-a...|           Desperado|1995|tt0112851|Sharp knives, big...|http://www.imdb.c...|       7.2|   positive|[sharp, knives, b...| 36406|
|5dd24aeaa6edc0dcb...|Stephen Baldwin, ...|    Sci-Fi, Thriller|On a secret milit...|https://m.media-a...|          Dark Storm|2006|tt0758740|I had to stay up ...|http://www.imdb.c...|       3.3|   negative|[stay, young, son...| 21208|
|5dd24aeaa6edc0dcb...|Barry Bostwick, J...|   Adventure, Family|Minkey, a super-s...|https://m.media-a...|             Spymate|2006|tt0367088|Mike (Chris Potte...|http://www.imdb.c...|       4.2|   negative|[mike, chris, pot...| 11001|
|5dd24aeaa6edc0dcb...|Mike Myers, Dana ...|       Comedy, Music|Wayne is still li...|https://m.media-a...|       Wayne's World|1992|tt0105793|The cultural refe...|http://www.imdb.c...|       7.0|   positive|[cultural, refere...| 37161|
|5dd24aeaa6edc0dcb...|Faye Emerson, Jul...|Crime, Drama, Fil...|Dot Burton (Faye ...|https://m.media-a...|       Lady Gangster|1942|tt0034959|I had a lot of fu...|http://www.imdb.c...|       5.8|   negative|[lot, fun, watchi...| 30913|
|5dd24aeaa6edc0dcb...|James Jay Barnes,...|               Drama|A military myster...|https://m.media-a...|            Garrison|2008|tt0985051|An important topi...|http://www.imdb.c...|       3.5|   negative|[important, topic...| 17299|
|5dd24aeaa6edc0dcb...|Tomas Milian, Gas...|Action, Crime, Th...|A cop is consumed...|https://m.media-a...|     Emergency Squad|1974|tt0072200|"Squadra Volante"...|http://www.imdb.c...|       6.1|   positive|[squadra, volante...| 16763|
|5dd24aeaa6edc0dcb...|Melanie Griffith,...|Romance, Crime, T...|In France, Sarah ...|https://m.media-a...|               Tempo|2003|tt0307553|The plot of "Temp...|http://www.imdb.c...|       4.7|   negative|[plot, tempo, sou...| 24125|
|5dd24aeaa6edc0dcb...|Josef Bierbichler...|Biography, Comedy...|                 N/A|https://m.media-a...|        The Farewell|2000|tt0206608|I enjoyed this fi...|http://www.imdb.c...|       6.5|   positive|[enjoyed, film, o...|  8403|
|5dd24aeaa6edc0dcb...|Jack Black, Ana d...|Comedy, Family, S...|Nacho (Black) is ...|https://m.media-a...|         Nacho Libre|2006|tt0457510|Much to my surpri...|http://www.imdb.c...|       5.7|   negative|[much, surprise, ...| 35666|
|5dd24aeaa6edc0dcb...|Dave Barry, Sara ...|Family, Animation...|A tour of Ciro's ...|https://m.media-a...| Hollywood Steps Out|1941|tt0033724|Were else could y...|http://www.imdb.c...|       7.1|   positive|[else, could, see...| 19007|
|5dd24aeaa6edc0dcb...|Clare Wren, Bruce...|Action, Horror, S...|Daniel Emerson is...|https://m.media-a...|      Steel and Lace|1991|tt0100688|I first saw this ...|http://www.imdb.c...|       5.0|   negative|[first, saw, movi...| 26138|
|5dd24aeaa6edc0dcb...|Mike Hertel, Jack...|        Short, Drama|A group of boys s...|https://m.media-a...| A Day with the Boys|1969|tt0216670|Clu Gulager is a ...|http://www.imdb.c...|       7.3|   positive|[clu, gulager, fa...|  9051|
|5dd24aeaa6edc0dcb...|Brad Pitt, Christ...|       Drama, Horror|It hasn't even be...|https://m.media-a...|Interview with th...|1994|tt0110148|'Interview with t...|http://www.imdb.c...|       7.6|   positive|[interview, vampi...| 48109|
|5dd24aeaa6edc0dcb...|Clay Adams, Josh ...|              Horror|Bloodline is the ...|https://m.media-a...|           Bloodline|2004|tt0488967|I rented this mov...|http://www.imdb.c...|       4.3|   negative|[rented, movie, n...|  6368|
|5dd24aeaa6edc0dcb...|Kirk Acevedo, Pen...|          Drama, War|U.S. Army Private...|https://m.media-a...|   The Thin Red Line|1998|tt0120863|The greatest faul...|http://www.imdb.c...|       7.6|   positive|[greatest, fault,...| 57172|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----+---------+--------------------+--------------------+----------+-----------+--------------------+------+
only showing top 20 rows

In [0]:

from pyspark.sql.types import StringType
#splits = [-float("inf"),0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, float("inf")]
splits = [0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

splits_dict = {i:splits[i] for i in range(len(splits))}

In [0]:
from pyspark.ml.feature import Tokenizer, StopWordsRemover, HashingTF, IDF, StringIndexer, Bucketizer
# Create all the features to the data set
#pos_neg_to_num = StringIndexer(inputCol='class',outputCol='label')
#bucketizer = Bucketizer(splits=splits, inputCol="label_orig",outputCol="label")
label_stringIdx = StringIndexer(inputCol = "Review_Type", outputCol = "label")
tokenizer = Tokenizer(inputCol="reviews", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
hashingTF = HashingTF(inputCol="stop_tokens", outputCol='hash_token')
idf = IDF(inputCol='hash_token', outputCol='idf_token')

In [0]:

from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector

# Create feature vectors
clean_up = VectorAssembler(inputCols=['idf_token', 'length'], outputCol='features')
#clean_up = VectorAssembler(inputCols=['idf_token'], outputCol='features')

In [0]:

# Create a and run a data processing Pipeline
from pyspark.ml import Pipeline
#data_prep_pipeline = Pipeline(stages=[tokenizer, stopremove, hashingTF, idf, clean_up])
data_prep_pipeline = Pipeline(stages=[tokenizer, stopremove, hashingTF, idf, clean_up, label_stringIdx])

In [0]:
# Fit and transform the pipeline
cleaner = data_prep_pipeline.fit(data_df)
cleaned = cleaner.transform(data_df)

In [0]:

# bucketed dataframe
#bucketed = bucketizer.setHandleInvalid('skip').transform(cleaned)

#cleaned = bucketed.replace(to_replace=splits_dict, subset=['label'])
#cleaned.show()

In [0]:
types = [f.dataType for f in cleaned.schema.fields]

In [19]:
# Show label and resulting features
cleaned.select(['label', 'features']).show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  1.0|(262145,[14,590,5...|
|  1.0|(262145,[14,211,2...|
|  1.0|(262145,[14,191,2...|
|  0.0|(262145,[14,640,6...|
|  0.0|(262145,[14,571,1...|
|  1.0|(262145,[14,67,57...|
|  1.0|(262145,[14,640,1...|
|  0.0|(262145,[14,58,27...|
|  1.0|(262145,[14,571,6...|
|  1.0|(262145,[14,571,6...|
|  0.0|(262145,[14,571,6...|
|  1.0|(262145,[14,170,5...|
|  0.0|(262145,[859,1843...|
|  1.0|(262145,[14,329,3...|
|  0.0|(262145,[14,510,6...|
|  1.0|(262145,[14,227,5...|
|  0.0|(262145,[14,170,1...|
|  0.0|(262145,[14,502,5...|
|  1.0|(262145,[14,2710,...|
|  0.0|(262145,[14,553,5...|
+-----+--------------------+
only showing top 20 rows

In [0]:
from pyspark.ml.classification import NaiveBayes
# Break data down into a training set and a testing set
training, testing = cleaned.randomSplit([0.75, 0.25])

# Create a Naive Bayes model and fit training data
nb = NaiveBayes()
predictor = nb.fit(training)

In [21]:
# Tranform the model with the testing data
test_results = predictor.transform(testing)
test_results.show(10)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----+---------+--------------------+--------------------+----------+-----------+--------------------+------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+----------+
|                 _id|              Actors|               Genre|                Plot|              Poster|               Title|Year| movie_id|             reviews|                 url|label_orig|Review_Type|              Parsed|length|          token_text|         stop_tokens|          hash_token|           idf_token|            features|label|       rawPrediction|         probability|prediction|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----+---------+--------------------+--------------------+----------+-----------+--------------------+------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+----------+
|5dd24aeaa6edc0dcb...|María Valverde, L...|               Drama|Melissa lives wit...|https://m.media-a...|          Melissa P.|2005|tt0443584|An Italo-Spanish ...|http://www.imdb.c...|       4.8|   negative|[italospanish, co...| 16079|[an, italo-spanis...|[italo-spanish, c...|(262144,[14,133,5...|(262144,[14,133,5...|(262145,[14,133,5...|  1.0|[-42168.647619696...|[1.0,8.4746033296...|       0.0|
|5dd24aeaa6edc0dcb...|Robert De Niro, B...|       Comedy, Crime|Ben Sobol, Psychi...|https://m.media-a...|        Analyze This|1999|tt0122933|Robert De Niro an...|http://www.imdb.c...|       6.7|   positive|[robert, de, niro...| 28071|[robert, de, niro...|[robert, de, niro...|(262144,[14,137,1...|(262144,[14,137,1...|(262145,[14,137,1...|  0.0|[-86129.465505824...|[1.0,2.3825514437...|       0.0|
|5dd24aeaa6edc0dcb...|Brigitte Nielsen,...|            Thriller|Rick Stone is the...|https://m.media-a...| Compelling Evidence|1995|tt0143187|I had the fortune...|http://www.imdb.c...|       1.8|   negative|[fortune, witness...| 10329|[i, had, the, for...|[fortune, witness...|(262144,[14,571,1...|(262144,[14,571,1...|(262145,[14,571,1...|  1.0|[-30420.491763325...|[9.51300096926342...|       1.0|
|5dd24aeaa6edc0dcb...|     Charles Reineke|        Short, Drama|In this MGM short...|https://m.media-a...|Traffic with the ...|1946|tt0039043|I caught this on ...|http://www.imdb.c...|       6.2|   positive|[caught, amc, lov...| 11907|[i, caught, this,...|[caught, amc, lov...|(262144,[14,240,5...|(262144,[14,240,5...|(262145,[14,240,5...|  0.0|[-37086.737025059...|[1.0,2.7975704232...|       0.0|
|5dd24aeaa6edc0dcb...|                 N/A|      Adult, Western|Set in the wester...|                 N/A|     A Dirty Western|1975|tt0124406|Unlike other earl...|http://www.imdb.c...|       5.5|   negative|[unlike, early, a...|  7575|[unlike, other, e...|[unlike, early, a...|(262144,[14,571,1...|(262144,[14,571,1...|(262145,[14,571,1...|  1.0|[-25459.091106167...|[1.58229889250417...|       1.0|
|5dd24aeaa6edc0dcb...|Mare Winningham, ...|               Drama|Margaret Ryder ha...|https://m.media-a...|Love Is Never Silent|1985|tt0089510|I watched this in...|http://www.imdb.c...|       8.1|   positive|[watched, asl, cl...|  8174|[i, watched, this...|[watched, asl, cl...|(262144,[14,571,1...|(262144,[14,571,1...|(262145,[14,571,1...|  0.0|[-19678.923060839...|[1.0,8.4862543673...|       0.0|
|5dd24aeaa6edc0dcb...|Winston Ntshona, ...|        Short, Crime|An elderly man ow...|https://m.media-a...|     The Storekeeper|1998|tt0210308|Gavin Hood's THE ...|http://www.imdb.c...|       7.1|   positive|[gavin, hoods, st...|  4006|[gavin, hood's, t...|[gavin, hood's, s...|(262144,[14,1381,...|(262144,[14,1381,...|(262145,[14,1381,...|  0.0|[-10151.178225930...|[1.25788163464681...|       1.0|
|5dd24aeaa6edc0dcb...|Jerry Seinfeld, M...| Documentary, Comedy|Live from New Yor...|https://m.media-a...|Jerry Seinfeld: '...|1998|tt0500140|Jerry Seinfeld is...|http://www.imdb.c...|       8.0|   positive|[jerry, seinfeld,...|  7927|[jerry, seinfeld,...|[jerry, seinfeld,...|(262144,[14,374,5...|(262144,[14,374,5...|(262145,[14,374,5...|  0.0|[-20353.998793483...|[4.08016080958184...|       1.0|
|5dd24aeaa6edc0dcb...|Agnes Bruckner, E...|Horror, Mystery, ...|In 1965, after pr...|https://m.media-a...|           The Woods|2006|tt0380066|Compared to the l...|http://www.imdb.c...|       5.7|   negative|[compared, lame, ...| 39473|[compared, to, th...|[compared, lame, ...|(262144,[14,245,3...|(262144,[14,245,3...|(262145,[14,245,3...|  1.0|[-114480.39615285...|[8.79189156806006...|       1.0|
|5dd24aeaa6edc0dcb...|Dolores del Rio, ...|Adventure, Drama,...|A young man falls...|https://m.media-a...|    Bird of Paradise|1932|tt0022689|I despair of non-...|http://www.imdb.c...|       6.1|   positive|[despair, nonroma...| 35998|[i, despair, of, ...|[despair, non-rom...|(262144,[14,411,5...|(262144,[14,411,5...|(262145,[14,411,5...|  0.0|[-116531.57229547...|           [1.0,0.0]|       0.0|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----+---------+--------------------+--------------------+----------+-----------+--------------------+------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+----------+
only showing top 10 rows

In [22]:
# Use the Class Evaluator for a cleaner description
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(test_results)
print("Accuracy of model at predicting reviews was: %f" % acc)

Accuracy of model at predicting reviews was: 0.707774