In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java

!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .getOrCreate()

update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java to provide /usr/bin/java (java) in manual mode
Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/87/21/f05c186f4ddb01d15d0ddc36ef4b7e3cedbeb6412274a41f26b55a650ee5/pyspark-2.4.4.tar.gz (215.7MB)
     |████████████████████████████████| 215.7MB 57kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 49.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.4-py2.py3-none-any.whl size=216130387 sha256=fc4369f158a7535ff8a0c19df2466f771567237739474b426e87508b785c2196
  Stored in directory: /root/.cache/pip/wheels/ab/09/4d/0d184230058e654eb1b04467dbc1292f00eaa186544604b471
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.4

In [0]:
#Load dependenices
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [0]:
#Import file
df = pd.read_csv('https://charlies-angels.s3.us-east-2.amazonaws.com/movie_urls.txt', names = ["url"])

In [0]:
df.nunique()

#Remove duplicates
df = df.drop_duplicates()
df.count()
df.reset_index(inplace = True, drop = True)


#Add a column for Reviews
df['reviews'] = ''

#Add a column for IMDB Movie ID
df['movie_id'] = df['url'].str.replace('/usercomments','').str.replace('http://www.imdb.com/title/','')

In [0]:
#Update the URLs to what we want
df['url'] = df['url'].str.replace('usercomments','reviews')

In [0]:
# Online Movie Database (OMDB) API URL including API Key and full plot
api_url = "http://www.omdbapi.com/?apikey=baee4093&plot=full"

movie_data = []

# Using a for-loop...
for i, movie_id in enumerate(df['movie_id']):
    # Use the movie_id to pull data from the API
    try:
        if i % 1000 == 0:
          print(movie_id)
        movie = requests.get(api_url + '&i=' + movie_id).json()
        if movie['Response'] == "True":
            movie_data.append(movie)
    except:
        #print(movie_id)
        continue

tt0018515
tt0113057
tt0972357
tt0296933
tt0364955
tt0179098
tt0896228
tt0118548

In [0]:
omdb_df = pd.DataFrame(movie_data)

In [0]:
movie_only = omdb_df.copy()
movie_only = movie_only[movie_only['Type'] == 'movie']
movie_only = movie_only.drop_duplicates(subset ="imdbID") 
movie_only = movie_only[movie_only['imdbRating'] != 'N/A']

In [0]:
print(movie_only['Type'].value_counts())
print(movie_only['imdbID'].nunique())

movie    6018
Name: Type, dtype: int64
6018

In [0]:
movie_only['imdbRating'] = pd.to_numeric(movie_only['imdbRating'])

In [0]:
movie_only = movie_only[['Title','Year','Genre','Actors','Plot','Poster','imdbRating','imdbID']]

In [0]:
movie_only.head(2)

                 Title  Year  ... imdbRating     imdbID
0  Two Arabian Knights  1927  ...        6.9  tt0018515
1        Clockwatchers  1997  ...        6.5  tt0118866

[2 rows x 8 columns]

In [0]:
df.head()

                                           url reviews   movie_id
0  http://www.imdb.com/title/tt0018515/reviews          tt0018515
1  http://www.imdb.com/title/tt0118866/reviews          tt0118866
2  http://www.imdb.com/title/tt0436149/reviews          tt0436149
3  http://www.imdb.com/title/tt0050652/reviews          tt0050652
4  http://www.imdb.com/title/tt0203895/reviews          tt0203895

In [0]:
new_df = pd.merge(df, movie_only, left_on='movie_id', right_on='imdbID', how='inner')

#Rename imdbRating to label, sinve Naive Bayes requires it
#new_df.rename(columns={'imdbRating' : 'label'}, inplace=True)

In [0]:
new_df = new_df[['url', 'reviews', 'movie_id', 'Title', 'Year', 'Genre', 'Actors','Plot', 'Poster', 'imdbRating']]

In [0]:
new_df.head(2)

                                           url  ... label
0  http://www.imdb.com/title/tt0018515/reviews  ...   6.9
1  http://www.imdb.com/title/tt0118866/reviews  ...   6.5

[2 rows x 10 columns]

In [0]:
#Retrieve reviews
for idx in range(len(new_df)):
    reviews = ''
    
    response = requests.get(new_df.loc[idx, 'url'])
    soup = BeautifulSoup(response.text, 'lxml')
    results = soup.find_all('div', class_='text show-more__control')
    
    for result in results:
        reviews = reviews + result.text + ' ' 
        #result.find('div', class_='text show-more__control').text.strip()
    
    new_df.loc[idx, ['reviews']] = reviews
    #break

KeyboardInterrupt: ignored

In [0]:
#Take off
new_df = new_df[new_df['reviews'] != '']

In [0]:
!pip install dnspython
!pip install pymongo[srv]

In [0]:

import pymongo

# Create list of dictionaries in order to efficiently insert into MongoDB
movies_dict = new_df.to_dict('records')

# MongoDB connection
conn = 'mongodb+srv://general_user:charli3s_ang3ls@cluster0-tyboh.mongodb.net/movie_db?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)

# Declare the collection
collection = client.movie_db.movie_reviews
#Drop collection if it exists to prevent duplication
collection.drop()  
# Insert all of the documents into the collection
collection.insert_many(movies_dict)