In [1]:
#Load dependenices
import pandas as pd
import requests
import pymongo
from bs4 import BeautifulSoup

In [2]:
#Import file
df = pd.read_csv('https://charlies-angels.s3.us-east-2.amazonaws.com/movie_urls.txt', names = ["url"])

In [3]:
df.nunique()

#Remove duplicates
df = df.drop_duplicates()
df.count()
df.reset_index(inplace = True, drop = True)


#Add a column for Reviews
df['reviews'] = ''

#Add a column for IMDB Movie ID
df['movie_id'] = df['url'].str.replace('/usercomments','').str.replace('http://www.imdb.com/title/','')

In [4]:
df.head(5)

                                                url reviews   movie_id
0  http://www.imdb.com/title/tt0018515/usercomments          tt0018515
1  http://www.imdb.com/title/tt0118866/usercomments          tt0118866
2  http://www.imdb.com/title/tt0436149/usercomments          tt0436149
3  http://www.imdb.com/title/tt0050652/usercomments          tt0050652
4  http://www.imdb.com/title/tt0203895/usercomments          tt0203895

In [5]:
#Update the URLs to what we want
df['url'] = df['url'].str.replace('usercomments','reviews')

In [6]:
df.head()

                                           url reviews   movie_id
0  http://www.imdb.com/title/tt0018515/reviews          tt0018515
1  http://www.imdb.com/title/tt0118866/reviews          tt0118866
2  http://www.imdb.com/title/tt0436149/reviews          tt0436149
3  http://www.imdb.com/title/tt0050652/reviews          tt0050652
4  http://www.imdb.com/title/tt0203895/reviews          tt0203895

In [ ]:
# Online Movie Database (OMDB) API URL including API Key and full plot
api_url = "http://www.omdbapi.com/?apikey=baee4093&plot=full"

movie_data = []

# Using a for-loop...
for movie_id in df['movie_id']:
    # Use the movie_id to pull data from the API
    try:
        movie = requests.get(api_url + '&i=' + movie_id).json()
        if movie['Response'] == "True":
            movie_data.append(movie)
    except JSONDecodeError:
        continue

In [0]:
omdb_df = pd.DataFrame(movie_data)

In [0]:
movie_only = omdb_df.copy()
movie_only = movie_only[movie_only['Type'] == 'movie']
movie_only = movie_only.drop_duplicates(subset ="imdbID") 
movie_only = movie_only[movie_only['imdbRating'] != 'N/A']

In [10]:
print(movie_only['Type'].value_counts())
print(movie_only['imdbID'].nunique())

movie    2665
Name: Type, dtype: int64
2665

In [0]:
movie_only['imdbRating'] = pd.to_numeric(movie_only['imdbRating'])

In [12]:
movie_only.head(2)

                 Title  Year  Rated  ... Season Episode seriesID
0  Two Arabian Knights  1927   TV-G  ...    NaN     NaN      NaN
1        Clockwatchers  1997  PG-13  ...    NaN     NaN      NaN

[2 rows x 29 columns]

In [13]:
df.head()

                                           url reviews   movie_id
0  http://www.imdb.com/title/tt0018515/reviews          tt0018515
1  http://www.imdb.com/title/tt0118866/reviews          tt0118866
2  http://www.imdb.com/title/tt0436149/reviews          tt0436149
3  http://www.imdb.com/title/tt0050652/reviews          tt0050652
4  http://www.imdb.com/title/tt0203895/reviews          tt0203895

In [0]:
df = pd.merge(df, movie_only, left_on='movie_id', right_on='imdbID', how='inner')

#Rename imdbRating to label, sinve Naive Bayes requires it
df.rename(columns={'imdbRating' : 'label'}, inplace=True)

In [15]:
df.head()

                                           url reviews  ... Episode seriesID
0  http://www.imdb.com/title/tt0018515/reviews          ...     NaN      NaN
1  http://www.imdb.com/title/tt0118866/reviews          ...     NaN      NaN
2  http://www.imdb.com/title/tt0436149/reviews          ...     NaN      NaN
3  http://www.imdb.com/title/tt0050652/reviews          ...     NaN      NaN
4  http://www.imdb.com/title/tt0203895/reviews          ...     NaN      NaN

[5 rows x 32 columns]

In [0]:
#Retrieve reviews
for idx in range(len(df)):
    reviews = ''
    
    response = requests.get(df.loc[idx, 'url'])
    soup = BeautifulSoup(response.text, 'lxml')
    results = soup.find_all('div', class_='text show-more__control')
    
    for result in results:
        reviews = reviews + result.text + ' ' 
        #result.find('div', class_='text show-more__control').text.strip()
    
    df.loc[idx, ['reviews']] = reviews
    #break

In [0]:
#Take off
df = df[df['reviews'] != '']

In [0]:
df.head()

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java

!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .getOrCreate()

In [0]:
reviews_df = spark.createDataFrame(df)
reviews_df.show()

In [0]:
from pyspark.sql.functions import length
# Create a length column to be used as a future feature 
data_df = reviews_df.withColumn('length', length(reviews_df['reviews']))
data_df.show()

In [0]:
from pyspark.ml.feature import Tokenizer, StopWordsRemover, HashingTF, IDF, StringIndexer
# Create all the features to the data set
#pos_neg_to_num = StringIndexer(inputCol='class',outputCol='label')
tokenizer = Tokenizer(inputCol="reviews", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
hashingTF = HashingTF(inputCol="stop_tokens", outputCol='hash_token')
idf = IDF(inputCol='hash_token', outputCol='idf_token')

In [0]:

from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector

# Create feature vectors
#clean_up = VectorAssembler(inputCols=['idf_token', 'length'], outputCol='features')
clean_up = VectorAssembler(inputCols=['idf_token'], outputCol='features')

In [0]:

# Create a and run a data processing Pipeline
from pyspark.ml import Pipeline
data_prep_pipeline = Pipeline(stages=[tokenizer, stopremove, hashingTF, idf, clean_up])

In [0]:
# Fit and transform the pipeline
cleaner = data_prep_pipeline.fit(data_df)
cleaned = cleaner.transform(data_df)

In [0]:
# Show label and resulting features
cleaned.select(['label', 'features']).show()

In [0]:
from pyspark.ml.classification import NaiveBayes
# Break data down into a training set and a testing set
training, testing = cleaned.randomSplit([0.75, 0.25])

# Create a Naive Bayes model and fit training data
nb = NaiveBayes()
predictor = nb.fit(training)

In [0]:
# Tranform the model with the testing data
test_results = predictor.transform(testing)
test_results.show(10)

In [0]:
# Use the Class Evaluator for a cleaner description
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(test_results)
print("Accuracy of model at predicting reviews was: %f" % acc)